# Solana Network (localnet, devnet, mainnet-beta)
VITE_SOLANA_NETWORK=devnet

# Program ID (replace with your deployed program ID)
VITE_PROGRAM_ID=Fg6PaFpoGXkYsidMpWTK6W2BeZ7FEfcYkg476zPFsLnS

# RPC URL (optional, will use default if not provided)
VITE_RPC_URL=https://api.devnet.solana.com

# Stripe API Key (for payment processing)
VITE_STRIPE_API_KEY=

# Arweave Key File (for source code storage)
VITE_ARWEAVE_KEY_FILE=

